.divCompra {
	width: 600px;
	height: 425px;
	background-color: white;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	border-radius: 40px;
}

	.pCompra {
		padding-top: 20px;
		padding-left: 20px;
		font-size: 30px;
	}

	.inputConcretarCompra {
		height: 50px;
		margin-top: 5px;
		margin-left: 191px;
		margin-right: 191px;
		margin-bottom: 5px;
		font-size: 25px;
	}

	.divDatosIncorrectos {
		height: 50px;
		width: 200px;
		margin-top: 0px;
		margin-left: 200px;
		margin-right: 200px;
		margin-bottom: 0px;
	}