div#filtros {
	width: 310px;
	height: 1835px;
	padding: 10px 10px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	float: left;
	border-radius: 30px;
	background-color: white;
}
	.pFiltros {
		font-size: 25px;
		float: none;
	}

	.pFiltrarPor {
		font-size: 25px;
	}

	.hFiltros {
		border-style: solid;
	}

	.inputRadioButton {
		height: 25px;
		width: 25px;
		float: left;
	}

	.divDeFiltros {
		width: 290px;
		height: 40px;
		margin-right: 10px;
		margin-left: 10px;
	}


.divTituloProductos {
	background-color: white;
	float: left;
	width: 1500px;
	height: 100px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 30px;
}

	.pTituloProductos {
		font-size: 30px;
		padding: 30px 30px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-right: 0px;
		margin-left: 0px;
	}

	.producto {
		margin-left: 10px;
	}

.divProductoAMostrar {
	background-color: white;
	float: left;
	width: 400px;
	height: 525px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 30px;
}

	.imgDeProductoAMostrar {
		width: 300px;
		height: 300px;
		margin-right: 50px;
		margin-left: 50px;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.aDeProductoAMostrar {
		font-size: 30px;
	}

	.divDeA {
		width: 300px;
		height: 80px;
		margin-left: 30px;
		margin-top: 30px;
	}